.mainpage-top {
  background-image: url("../../assets/Images/backimageforhome.jpeg");
  height: 80vh;
  display: flex;
  justify-content: center;
}
.mainpage-bottom {
  /* border: 2px solid green; */
  background-color: #f2f2f2;
  /* margin-top: 20px; */
}
