.mytripsbanner {
  background-image: linear-gradient(261deg, #7dbfcc, #5ee7cd);
  /* height: 215px; */
  height: 210px;
  padding: 30px;
  box-shadow: 0 3px 10px 0 inset rgba(0, 0, 0, 0.1);
}

.mytripsbanner ul {
  /* border: 1px solid black; */
  cursor: default;
  margin-left: 10rem;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5px;
}
.mytripsbanner ul li {
  /* border: 1px solid red; */
  font-size: 16px;
  color: #00000099;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forwardicon {
  /* border: 1px solid yellow; */
  margin: 0;
  padding: 0;
  display: flex;
}
.mytripsstatus {
  /* border: 1px solid red; */
  margin-top: -110px;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 20px 30px 0;
  background: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.mytripststusinnerul {
  cursor: pointer;
  margin: 20px;
  width: 478px;
  /* border: 2px solid green; */
}
.mytriplistcontainer-upcoming {
  border-radius: 0 0 10px 10px;
  padding: 30px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 15px;
  height: 220px;
  /* width: 997px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.mytripsstatus ul {
  /* border: 1px solid blue; */
  list-style: none;
  display: flex;
  gap: 20px;
}
.mytripsstatus ul li {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.mytripsstatus ul li:nth-child(3) {
  color: #9b9b9b9b;
}
.notActive {
  color: #9b9b9b9b;
  font-size: 16px;
  font-weight: 900;
}
.active {
  font-size: 16px;
  font-weight: 900;
}
.upcomingtripimg {
  background-image: url("../../assets/Images/mytripSprite.png");
  width: 27px;
  height: 27px;
  background-position: -1px -28px;
  margin-right: 10px;
  background-size: 700px 750px;
}
.completedtripimg {
  background-image: url("../../assets/Images/mytripSprite.png");
  width: 27px;
  height: 27px;
  margin-right: 10px;
  background-position: -68px -5px;
  background-size: 700px 850px;
}
.mytripselectdiv {
  /* border: 2px solid yellowgreen; */
  display: flex;
  justify-content: center;
}
.mytripselectdiv input {
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  /* width: 163px; */
  height: 18px;
  padding: 14px 12px;
  outline: 0;
  color: #4a4a4a;
  margin: 16px 0 45px 0;
}
.mytripssearchbtn {
  border-radius: 4px;
  /* padding: 13px 11px 15px 9px; */
  margin: 16px 0 45px 5px;
  width: 27px;
  height: 27px;
  background-image: linear-gradient(115deg, #53b2fe 18%, #065af3 119%);
  color: white;
  cursor: pointer;
}
.mytriplistcontainer {
  border-radius: 0 0 10px 10px;
  padding: 30px 0 30px 0;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 15px;
  /* height: 130px;
  width: 997px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mytriplistcontainer-upcoming img {
  height: 120px;
  width: 114px;
}
.mytriplistcontainer-upcoming div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mytriplistcontainer-upcoming div h3 {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 900;
  color: #4a4a4a;
}
.mytriplistcontainer-upcoming div p {
  font-size: 12px;
  color: #4a4a4a;
  margin-bottom: 25px;
}
.mytriplistcontainer-upcoming div button {
  font-size: 14px;
  color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(94deg, #53b2fe, #065af3);
  font-weight: 900;
  padding: 12px 20px;
  border-radius: 24px;
  border: 0;
  outline: 0;
}
.scrollupbtn {
  outline: none;
  padding: 15px 30px;
  border-radius: 40px;
  box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  /* height: 24px;
  width: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008cff;
  font-size: 15px;
  font-weight: 600;
  margin-left: 960px;
  cursor: pointer;
}
.scrollupicon {
  margin-right: 10px;
}
