.paymentpage-conainer {
  /* border: 2px solid green; */
  height: auto;
}
.paymentpage-maindiv {
  /* border: 2px solid red; */
  height: 180px;
  background-image: linear-gradient(to top, #15457b, #051423);
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 0 350px;
}
.logo-and-text {
  cursor: default;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;
  gap: 30px;
}
.mmt-logo-white {
  background-image: url("../../assets/Images/paymentsprite.png");
  background-position: -5px -147px;
  height: 36px;
  width: 113px;
  background-size: 242px 326px;
}
.logo-and-text p {
  color: #249b95;
  font-size: 16px;
  font-weight: 700;
}
.logo-and-text p span {
  color: white;
}
.safeandsecure-div {
  /* border: 1px solid yellow; */
  cursor: default;
  padding-right: 22rem;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.safeandsecure-img {
  background-image: url("../../assets/Images/paymentsprite.png");
  margin-right: 5px;
  background-position: -86px -62px;
  height: 16px;
  width: 15px;
  background-size: 242px 326px;
}
.safeandsecure-div p {
  color: white;
  font-size: 12px;
  font-weight: 900;
}
