.upiwidget-maindiv {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.phonemsg-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.phone-icon {
  background-image: url("../../assets/Images/paymentsprite.png");
  background-position: -118px -224px;
  height: 21px;
  width: 18px;
  background-size: 242px 326px;
  margin-right: 10px;
}
.phonemsg-div p {
  color: #f09819;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.upiwidget-middlediv {
  border: 1px solid blue;
  width: 33vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  border: solid 1px #d8d8d8;
  padding: 20px;
  margin-bottom: 20px;
}
.upi-details-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.upi-qrcode-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.qrcode {
  /* border: 1px solid black; */
  cursor: not-allowed;
  margin-bottom: 30px;
  width: 120px;
  height: 128px;
  border-radius: 7px;
  position: relative;
  border: solid 2px #979797;
  padding: 5px;
}
.qrcode img {
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
.qrcode button {
  font-weight: 700;
  font-size: 12px;
  width: 94px;
  height: 26px;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  margin: auto;
  cursor: pointer;
  border: solid 1px #0089ff;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  color: #0089ff;
}
.upi-qrcode-div p:first-child {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
}
.upi-qrcode-div p:nth-child(3) {
  font-weight: 700;
  margin: 0 30px 0 30px;
  font-size: 12px;
}
.upi-or-div {
  /* border-right: solid 1px #d8d8d8; */
  color: #249b95;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.upi-or-div span {
  /* position: absolute; */
  /* top: 50%; */
  font-size: 10px;
  border-radius: 44px;
  background: #c1f1dd;
  margin: -22px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 10px #fff;
  height: 24px;
  width: 24px;
}
.field-to-enter-upiid {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 232px;
}
.enterupiid-msg {
  color: #000;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 14px;
}
.upiid-inputfield {
  width: 100%;
  font-size: 14px;
  outline: none;
  border: solid 1px #9b9b9b;
  border-radius: 4px;
  padding: 12px 15px;
  color: #000;
  background: transparent;
  font-weight: 700;
}
.enabled {
  background-image: linear-gradient(96deg, #53b2fe, #065af3);
}
.upi-verifyandpay-btn {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 150px;
  padding: 0 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 36px;
  margin: 0 25px 0 25px;
}
.stepsforupipay {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
  margin: 0;
  padding: 0;
}
.stepsforupipay li {
  color: #9b9b9b;
  /* position: relative; */
  /* padding: 0 0 0 15px; */
  margin: 0 0 10px 0;
  font-size: 12px;
  text-align: left;
  font-weight: 700;
}

.upiwindow-icons {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.upi-gpay-icon {
  background-image: url("../../assets/Images/paymentsprite.png");
  background-position: -190px -36px;
  height: 19px;
  width: 19px;
  background-size: 242px 326px;
  margin-right: 5px;
}
.upi-phonepay-icon {
  background-image: url("../../assets/Images/BanklogoSprite.png");
  margin-right: 5px;
  background-position: -227px -563px;
  height: 33px;
  width: 33px;
  background-size: 390px 650px;
}
.upi-upipay-icon {
  background-image: url("../../assets/Images/paymentsprite.png");
  background-position: -48px -114px;
  height: 23px;
  width: 16px;
  background-size: 242px 326px;
  margin-right: 5px;
}
.upi-hdfcpay-icon {
  background-image: url("../../assets/Images/BanklogoSprite.png");
  background-position: -272px -167px;
  height: 32px;
  width: 32px;
  background-size: 390px 650px;
  margin-right: 5px;
}
.upi-sbipay-icon {
  background-image: url("../../assets/Images/BanklogoSprite.png");
  background-position: -271px -405px;
  height: 32px;
  width: 32px;
  background-size: 390px 650px;
  margin-right: 5px;
}
.upi-axispay-icon {
  background-image: url("../../assets/Images/BanklogoSprite.png");
  background-position: -86px -47px;
  height: 32px;
  width: 32px;
  background-size: 390px 650px;
  margin-right: 5px;
}
.upi-paytm-icon {
  background-image: url("../../assets/Images/BanklogoSprite.png");
  background-position: -309px -325px;
  height: 32px;
  width: 32px;
  background-size: 390px 650px;
  /* margin-left: 10px; */
}
.upi-payamnt {
  font-weight: 900;
  font-size: 20px;
}
.upi-termsandcondition {
  text-align: left;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: 900;
}
.upi-termsandcondition span {
  color: #008cff;
}
