.background-container {
  background-image: url("../../assets/Images/backimg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
}

.parent-comingSoon {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 150px 80px;
}

.first-text-CS {
  color: #3e76ca;
  font-size: 4rem;
  font-weight: 500;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #760dee 29%,
    #0cffeb88 67%,
    #100f0d 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;

  margin-top: 10rem;
  margin-left: 50rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.second-text-CS {
  color: rgb(255, 255, 255);
  margin-bottom: 9px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 55rem;
}

.icon-coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  font-size: 2.5rem;
  margin-left: 45rem;
}

.link-icon-comingSoon {
  color: #000000;
}

.link-icon-comingSoon:hover {
  scale: 1.3;
}
