.airportfrom-search-maindiv {
  /* border: 1px solid red; */
  min-height: 200px;
  max-height: 300px;
  background-color: white;
  overflow: hidden;
  z-index: 999999;
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}
