.flightwidgetmaindiv {
  /* border:2px solid yellow; */
  height: 340px;
  /* width: 97%; */
  padding: 65px 10px 0px 10px;
  margin-bottom: 40px;
  background-color: white;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  top: -50px;
  font-size: 14px;
}
/* .fw-travellersclassdiv {
  margin-left: 25px;
  margin-top: 10px;
} */
.fw-upperdiv {
  /* border: 2px solid red; */
  cursor: pointer;
  padding: 7px;
  font-weight: 600;
  display: flex;
  text-decoration: none;
  list-style: none;
}
.fw-upperdiv div ul {
  /* border: 2px solid black; */
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
}

.fw-middlediv {
  cursor: pointer;
  border: solid 1px #e7e7e7;
  width: 100%;
  height: 120px;
  margin: 0 auto 20px;
  border-radius: 10px;
  display: flex;
  margin-right: 0;
}

.fw-fromdiv {
  /* border: 2px solid green; */
  height: 100%;
  border-radius: 10px 0 0 10px;
  width: 313px;
  padding: 10px 19px;
  border-right: solid 1px #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fw-fromdiv p:nth-child(1) {
  /* border: 2px solid red; */
  margin-top: 0;
}
.fw-fromdiv p:nth-child(2) {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  font-weight: 900;
}
.fw-fromdiv p:nth-child(3) {
  font-size: small;
  margin: 0;
  padding: 0;
}
.fw-from-select {
  border: none;
  font-size: 30px;
  font-weight: 700;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.fw-from-select:focus {
  outline: none;
}
.fw-from-option {
  font-size: 12px;
  background-color: rebeccapurple;
}

.fw-todiv {
  /* border: 2px solid green; */
  width: 313px;
  padding: 10px 19px;
  border-right: solid 1px #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fw-todiv p:nth-child(1) {
  /* border: 2px solid red; */
  margin-top: 0;
}
.fw-todiv p:nth-child(2) {
  /* border: 2px solid red; */
  margin: 0;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  font-weight: 900;
}
.fw-todiv p:nth-child(3) {
  margin: 0;
  padding: 0;
}

.fw-departurediv {
  height: auto;
  width: 220px;
  padding: 10px 19px;
  border-right: solid 1px #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.departureheaddiv {
  /* border: 2px solid blue; */
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 0;
  cursor: pointer;
  padding: none;
}
.departureheading {
  font-size: 14px;
  margin: 0;
  /* padding: 0; */
}

.fw-departurediv p:nth-child(2) {
  margin: 0;
  padding: 0;
}
.fw-departurediv p span:nth-child(1) {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 900;
}
.fw-departurediv p:nth-child(3) {
  margin: 0;
  padding: 0;
}

.fw-returndiv {
  width: 110px;
  padding: 10px 19px;
  border-right: solid 1px #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fw-travellersclassdiv {
  /* border: 1px solid red; */
  width: 217px;
  border-radius: 0 10px 10px 0;
  padding: 10px 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fw-travellersclassdiv p:nth-child(1) {
  margin-bottom: 10px;
  margin-top: 0;
}
.fw-travellersclassdiv p:nth-child(2) {
  margin: 0;
  padding: 0;
}
.fw-travellersclassdiv p:nth-child(2) span {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 900;
}
.fw-travellersclassdiv p:nth-child(3) {
  margin: 0;
  padding: 0;
}

.fw-bottomdiv {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fw-faretypes {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 664px;
  gap: 3px;
}
.fw-faretypes p {
  height: 45px;
  width: 67px;
  margin: 0;
  margin-right: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.fw-faretypes div {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  height: 45px;
  gap: 5px;
  background-color: rgb(242, 242, 242);
  border-radius: 3px;
}
.fw-faretypes div input {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}
.fw-faretypes div label {
  margin: 0;
  padding: 0;
  text-align: left;
}
.fw-trendingsearches {
  display: flex;
  font-size: 12px;
}
.fw-trendingsearches {
  /* border: 2px solid red; */
  cursor: default;
  margin-left: 10px;
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  height: 31px;
}
.fw-trendingsearches p {
  display: flex;
  align-items: center;
}
.fw-trendingsearches p:nth-child(1) {
  font-weight: 700;
}
.fw-trendingsearches p:nth-child(2) {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}
.fw-trendingsearches p:nth-child(2) span {
  /* border: 2px solid green; */
  margin: 10px;
}
.fw-trendingsearches p:nth-child(3) {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}
.fw-trendingsearches p:nth-child(3) span {
  /* border: 2px solid green; */
  margin: 10px;
}
.fw-exploremore {
  /* border: 2px solid red; */
  margin: 10px;
  cursor: default;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 13px;
  padding: 10px;
}
.fltSwipCircle {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-left: -20px;
  border-radius: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: pointer;
  margin-top: 35px;
}
.flightsSprite {
  background-image: url(../../assets/Images/alllogo.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 200px 650px;
  font-size: 0px;
  flex-shrink: 0;
  width: 15px;
  height: 11px;
  background-position: -149px -103px;
}
/* .fltSwipIcon {
  width: 15px;
  height: 11px;
  background-position: -149px -111px;
} */
.fw-departurediv:hover {
  background-color: #eaf5ff;
}
.fw-fromdiv:hover {
  background-color: #eaf5ff;
}
.fw-travellersclassdiv:hover {
  background-color: #eaf5ff;
}

.new-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}
.fw-todiv:hover,
.new-div:hover {
  background-color: #eaf5ff;
}
.datepicker-flight {
  position: absolute;
  top: 9rem;
  right: 15rem;
}
