.fw-mainbtmdiv {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.fw-adv {
  width: 60rem;
  border-radius: 16px;
  margin: 5rem 6rem 2.5rem 6rem;
  cursor: pointer;
}
